<nav class="navbar navbar-light mb-4">
    <div id="header">
        <a class="navbar-brand " id="header_a" href="/">
            <img src="/img/door-open.svg" width="40" height="40" alt="">
            <span style="font-size: 40px">MyBlog</span>
            <span class="text-muted" id="quote">"open ur door"</span>
        </a>
    </div>
</nav>