<!-- Image and text -->
<nav class="navbar navbar-light mb-4">
    <div style="border-bottom: 1px solid darkgrey; margin: 0 auto; width: 90%">
        <a class="navbar-brand " style="display: flex; align-items: center; width: fit-content" href="/">
            <img src="/img/door-open.svg" width="40" height="40" alt="">
            <span style="font-size: 40px">MyBlog</span>
            <span style="font-size: 20px; padding-left: 30px" class="text-muted">"open up for ur doors"</span>
        </a>
    </div>
</nav>